@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  50% {
    scale: 1 1.2;
  }

  to {
    transform: rotate(360deg);
  }
}

.blob {
  animation: rotate 10s linear infinite;
  @apply h-96 aspect-square absolute inset-1/2 rounded-full;
  @apply bg-gradient-to-r from-red-600 to-blue-600;
  translate: -50% -50%;
  z-index: -2;
}

.blur {
  @apply relative w-full h-full absolute top-0 left-0;

  z-index: -1;
  backdrop-filter: blur(12.5rem);
}

.container {
  @apply fixed w-screen h-screen overflow-hidden;
  z-index: -2;
}

