.badge {
  @apply inline-block rounded-xl px-2.5 py-1 m-1;
}

.badge-label {
  cursor: pointer;
  user-select: none;
}

.badge-checkbox {
  @apply hidden;
}

.badge:has(input[type=checkbox]:checked) {
  @apply bg-red-700 text-white #{!important};
  box-shadow: inset 0 0 0 0.1rem white;
}
